.container {
  margin-bottom: 25px;
}

.title {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 0;
}

.desc {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  color: white;
}
