.area,
.selectedAddress,
.newInfo,
.recordLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area {
  margin-top: 25px;
}

.header {
  margin-bottom: 20px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.helpfulInfo {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.selectedAddress,
.recordBox {
  background: #f8f8f8;
  border: 2px solid #65799b;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 50px;
}

.selectedAddress {
  width: 342px;
  height: 177px;
  font-size: 30px;
}

.recordBox {
  width: 342px;
  height: 170px;
  display: flex;
}

.records {
  font-size: 25px;
  height: 150px;
  width: 342px;
}

.recordAround,
.notesStyle {
  margin-top: 25px;
}

.recordAround {
  display: flex;
  justify-content: space-between;
}

.dateStyle {
  text-decoration: underline;
  color: #007305;
  font-size: 22px;
  margin-left: 20px;
}

.recordRight {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: block;
  margin-right: 5px;
}

.markStyle {
  color: #c4c4c4;
  font-size: 18px;
}

.notesStyle {
  font-size: 16px;
  text-align: left;
  margin-left: 12px;
}

.recordLink {
  font-size: 26px;
  color: white;
  width: 239px;
  height: 67px;
  text-decoration: none;
  background: #4a6da7;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  position: fixed;
  bottom: 30px;
  right: 25px;
}
