.appContainer {
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(74, 109, 167, 1) 270px,
    rgba(255, 255, 255, 1) 270px
  );
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
