.area,
.newInfo,
.submitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area {
  margin-top: 25px;
}

.header {
  margin-bottom: 20px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.helpfulInfo {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.newInfoBox {
  background: #f8f8f8;
  border: 2px solid #657b9b;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 342px;
  height: 465px;
}

.newInfo {
  font-size: 30px;
  font-weight: normal;
  margin-top: 30px;
}

.newInfo input {
  width: 250px;
  height: 28px;
  border-radius: 15px;
  border: 1px solid #414141;
  box-shadow: 1px 1px 1px #999;
}

textarea {
  line-height: 1.5;
  border-radius: 15px;
  border: 1px solid #414141;
  box-shadow: 1px 1px 1px #999;
}

.submitButtonBox {
  margin-top: 25px;
}

.submitButton {
  font-size: 26px;
  color: white;
  width: 239px;
  height: 67px;
  background: #4a6da7;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  position: fixed;
  bottom: 30px;
  right: 25px;
}
